* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #2196f3;
  color: white;
  box-shadow: 2px 2px 2px grey;
}

/* NAME */
.brand-title {
  font-size: 1.5rem;
  margin: 20px;
  letter-spacing: 3px;
}
.brand-title a{
  text-decoration: none;
  color: white;
}

/* NAVIGATION BAR */
.navbar-links {
  height: 100%;
  font-size: 20px;
}
.navbar-links ul {
  display: flex;
  margin: 0 10px;
  padding: 0;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-size: 16px;
}
.navbar-links li:hover {
  background-color: rgb(105, 184, 248);
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
  color: white;
}

#one,
#two,
#three {
  margin: 10px;
  padding: 50px;
  text-align: center;
  box-shadow: 2px 2px 10px #464646;
}

#one {
  background-color: #f67280;
}

#two {
  background-color: #2196f3;
}

#two h1 {
  font-size: 50px;
}

#three {
  background-color: teal;
}

#red {
  background-color: #f67280;
  padding: 25px;
  box-shadow: 2px 2px 2px grey;
}

#programming-language,
#vcs {
  color: rgb(75, 75, 75);
  margin: 40px;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.programming,
.control {
  margin: 40px;
  display: flex;
  justify-content: flex-start;
}
#python,
#version {
  margin: 20px;
  background-color: white;
  text-align: center;
  font-size: 16px;
  box-shadow: 2px 2px 5px grey;
}
#python a,
#version a {
  text-decoration: none;
}
#python h4,
#version h4 {
  color: rgb(59, 148, 231);
  font-size: 30px;
  font-weight: lighter;
}
#python p,
#version p {
  font-weight: lighter;
  color: black;
}

/* SECTION Git */
.box{
    background-color: #2196f3;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    padding: 20px;
    margin: 0px;
    box-shadow: 1px 1px 5px rgb(68, 68, 68);
}
.box p{font-weight: 500;}
.terminology h1{font-weight: lighter;}
.terminology{
    padding: 10px;
    margin: 50px;
    box-shadow: 2px 2px 5px #444444;
}
#repo, #directory, #commit, #area, #branch{
    padding: 10px;
    margin: 50px;
    font-size: 20px;
    color: white;
    font-weight: lighter;
    border-radius: 20px;
}
#repo{background-color: #0fabbc;}
#directory{background-color: #ec7373;}
#commit{background-color: #fb8d62;}
#area{background-color: #35495e;}
#branch{background-color: #61d4b3;}

/* SECTION Programming Resources */
.resources {
  margin: 50px;
}
.link{
  color: #2196f3;
}
.resources h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(75, 75, 75);
  font-weight: lighter;

}
.resources p {
  text-align: justify;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: lighter;
  word-spacing: 2px;
  color: #000000;
}

/* SECTION Content */
.content{
    margin: 50px;
}
.content code{
    margin-left: 25px;
    font-size: 20px;
    padding: 0px 20px;
    background-color: #2b2b2b;
    color: white;
}
.content h1{
    font-weight: lighter;
    color: #222222;
}
footer {
  background-color: grey;
  color: white;
  padding: 10px;
  text-align: center;
}
h5 {
    font-size: 20px;
    text-align: center;
    animation: git 2s linear infinite;
}
@keyframes git {
    0%{transform: scale(0.8);}
    25%{transform: scale(1);}
    50%{transform: scale(1.2);}
    75%{transform: scale(1);}
    100%{transform: scale(0.8);}
}

/* SECTION About */
.about{
  margin: 60px;
  justify-content: center;
  box-shadow: 1px 1px 5px #acacac;
}
.about h1, p, h3{
  margin: 25px;
}
.about h1{
  color: #444444;
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 60px;
  padding: 20px 0px;
}
.about h3{
  font-weight: lighter;
  font-size: 16px;
  color: #757575;
}
.about p{
  color: #202020;
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 25px;
  word-spacing: 2px;
}
.about a{
  font-family: sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: #2196f3;
  font-size: 20px;
  margin: 25px;
}
#line{
  margin: 30px;
  height: 80%;
  border-bottom: 1px solid #444444;
}
#mailid{
  color: #2196f3;
  font-weight: 500;
}

@media(max-width:768px){
    .container{
        display: block;
    }
    .about{
      margin: 50px 10px;
    }
    .about p{
      font-size: 20px;
    }
    .about h1{
      font-size: 55px;
    }
}
@media (max-width: 500px) {
  .resources{
    margin: 10px;
    color: #0f0f0f;
  }
  .resources p {
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    color: #222222;
  }
  .container{
    display: block;
  }
  .about{
    margin: 50px 10px;
  }
  .about p{
    font-size: 20px;
  }
  .about h1{
    font-size: 55px;
  }
    .brand-title{
      font-size: 22px;
      letter-spacing: 0px;
    }
    
    .navbar-links ul {
      margin: 0px;
    }
    .container{
        margin: 0;
    }
    #one{
        margin-top: 50px;
    }
  .programming,
  .control {
    display: block;
    margin: 10px;
  }
  .programming img,
  .control img {
    width: 100%;
  }
  .programming p,
  .control p {
    padding: 10px;
  }
  #python h4,
  #version h4 {
    font-size: 30px;
  }

  /* For git */
  .box{
      display: block;
      margin-top: 50px;
  }
  .terminology{
      margin: 10px;
  }
  #repo, #directory, #commit, #area, #branch{
      margin: 0;
      margin-top: 5px;
      padding: 10px;
      font-weight: 600;
  }
  .content{
      margin: 10px;
  }
  .content code{
      font-size: 16px;
  }
  .about{
    margin: 0px 0px;
  }
  .about h1{
    font-size: 50px;
  }
  .about p{
    font-size: 16px;
  }
  #mailid {
    font-size: 16px;
  }
}
